grant {
	permission java.util.PropertyPermission "os.name", "read";
	permission java.util.PropertyPermission "os.version", "read";
	permission java.util.PropertyPermission "os.arch", "read";
	// permission java.security.SecurityPermission "removeKeyPermission";
	// permission java.security.AllPermission "", "";
};
